*{
    box-sizing: border-box;
}

body{
    background-color: #F5DAD2;
    font-size: 18px;
    font-family: Helvetica;
}

.card{
    width:900px;
    margin: 30px auto;
    background-color: #FCFFE0;
}

h1{
    text-align: center;
    background-color: #BACD92;
    font-family: "Brush Script MT";
    font-size: 60px;
}

h2{
    font-family: "Georgia";
    font-size: 30px;
    margin: 20px 10px;
    background-color: #BACD92;
    text-align: center;
}

.list-container h3{
    font-family: "Georgia";
    font-size:20px;
    margin:0px;
    text-align: center;
    
}

.img-container{
    text-align: center;
}

img{
    width: 512px;
    height: auto;
}

p{
    margin: 20px;
}

.last-block{
    display: inline-block;
    margin: 0px 20px 20px;
    width: 860px;
}

.list-container{
    display: inline-block;
    width: 427px;
    height: 250px;
    vertical-align: top;
    border: 2px black solid;
}

li::marker{
    color:#75A47F;
}

