*{
    box-sizing: border-box;
}

body{
    background-color: #F5DAD2;
    
}

.card{
    width: 600px;
    height: 500px;
    margin: 50px auto;
    background-color: #FCFFE0;
}


h1{
    display: inline-block;
    width: 580px;
    margin: 10px 10px 10px 10px;
    color: black;
    background-color: #BACD92;
    font-family: "Brush Script MT";
    font-size: 60px;
    text-align: center;
}


ul{
    display: block;
    width: 300px;
    margin: 10px 150px;
    font-size: 25px;
    font-family: "Georgia";
}

li::marker{
    color: #75A47F;
}